body{
    background-color: #4d3277;
}

h2{
    font-family: sans-serif;
    font-size: 70px;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.FormContainer{
    width: 700px;
    height: 450px;
    background-color: white;
    margin: auto;
    padding-top: 80px;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.Enter label{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 9%;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.Enter input{
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 40px;
    margin-left: 9%;
    margin-bottom: 5%;
    border: none;
    background-color: rgba(216, 216, 216, 0.466);
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 15px;
}

button{
    width: 580px;
    text-align: center;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-image: linear-gradient(to right, #974eb7, #734bad);
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;
}

.Ball1{
    background-color: #4d3277;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: -130px;
    position: relative;
    z-index: 100;
}

.Ball2{
    background-image: linear-gradient(to right, #974eb7, #734bad);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: -85px;
    position: relative;
    z-index: 100;
}

i{
    font-size: 40px;
    color: white;
    position: relative;
    left: 885px;
    top: 10px;
    z-index: 100;
}